<h1>articles</h1>

<% if @articles.present? %>
  <% @articles.each do |article| %>
    <%= link_to article.title, article %><br>
    <%= article.body %><br>
    <hr>
  <% end %>
<% else %>
    no news
<% end %>
    


