<% unless @current_member %>
  <%= render "shared/login_form" %>
<% end %>

<h2>news</h2>
<ul
  <% 5.times do |i| %>
    <li><%= link_to "new title", "#" %></li>
  <% end %>
</ul>

<h2>members blog</h2>
<ul>
  <% 3.times do |i| %>
    <li><%= link_to "blog title", "#" %></li>
  <% end %>
</ul>
